CORDELL_HTTP_ADDRESS=:8080

CORDELL_SESSION_COOKIE_SECURE=false
CORDELL_ENABLE_HSTS=false

POSTGRES_USER=cordell
POSTGRES_PASSWORD=cordell_dev_password
POSTGRES_DB=cordell_dev
POSTGRES_PORT=5432

CORDELL_DATABASE_URL=postgres://cordell:cordell_dev_password@localhost:5432/cordell_dev?sslmode=disable
