CORDELL_HTTP_ADDRESS=:8080

POSTGRES_USER=cordell
PORTGRES_PASSWORD=password
PORTGRES_DB=cordell_dev
PORTGRES_PORT=5432

CORDELL_DATABASE_URL=post1gres://cordell:password@localhost:5432/cordell_dev?sslmode=disable
